body {
  background-color: #08010a;
  color: #fff;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  position: relative;
}

.yellow-blur {
  position: absolute;
  right: -5px;
  width: 45%;
  top: -120px;
}

.purple-blur {
  position: absolute;
  left: -130px;
  width: 50%;
  top: 170px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.star {
  margin-top: 30px;
}

.hope {
  font-size: 45px;
  line-height: 61px;
  background-image: linear-gradient(
    rgba(255, 204, 250, 0.98) 30%,
    #ebfdff 47.36%,
    #b499ff 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: top;
  font-family: "Alegreya", serif;
  font-weight: 500;
  margin: 20px 0;
}

.description {
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 0 300px;
  text-align: center;
  line-height: 41px;
}

.cylinder-container {
  position: relative;
}

.learn-more {
  position: absolute;
  top: 120px;
  right: 40%;
  letter-spacing: 0.03rem;
}

.learn-more a button {
  padding: 14px 80px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Alegreya", serif;
  cursor: pointer;
  background-color: #07020e;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.learn-more a button:hover {
  background-color: #272727;
}

.socials {
  display: flex;
  position: absolute;
  top: 230px;
  right: 44%;
}

.fa-brands {
  color: #fff;
  font-size: 40px;
}

.twitter {
  margin-right: 70px;
}

.cylinder-section {
  background-image: url(/assets/cylinder.svg);
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

@media screen and (max-width: 1113px) {
  .learn-more {
    right: 38%;
  }
  .socials {
    right: 43%;
  }
}

@media screen and (max-width: 1049px) {
  .description {
    margin: 0 200px;
  }
  .purple-blur {
    top: 400px;
  }
  .learn-more {
    right: 36%;
  }
  .socials {
    right: 41%;
  }
}

@media screen and (max-width: 769px) {
  .description {
    margin: 0 100px;
  }
  .learn-more {
    right: 32%;
  }
  .purple-blur {
    top: 400px;
    left: -90px;
  }
  .yellow-blur {
    top: -70px;
  }
  .socials {
    right: 38%;
  }
}

@media screen and (max-width: 715px) {
  .learn-more {
    right: 29%;
  }
}

@media screen and (max-width: 506px) {
  .fa-brands {
    font-size: 30px;
  }
  .description {
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  .description {
    margin: 0 15px;
  }
  .purple-blur {
    top: 500px;
    left: -60px;
  }
  .yellow-blur {
    top: -50px;
  }
  .learn-more {
    right: 24%;
  }
  .socials {
    right: 38%;
  }
}

@media screen and (max-width: 430px) {
  .learn-more {
    right: 18%;
  }
  .socials {
    right: 34%;
  }
}

@media screen and (max-width: 393px) {
  .twitter {
    margin-right: 95px;
  }
  .learn-more {
    right: 12%;
  }
  .socials {
    right: 25%;
  }
}
